.featured-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: calc(0.25rem - 1px);
}

.about-img {
    width: 100%;
    height: 570px;
    object-fit: cover;
    border-radius: calc(0.25rem - 1px);
}

.single-img {
    width: 100%;
    object-fit: cover;
    border-radius: calc(0.25rem - 1px);
}

.post-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: calc(0.25rem - 1px);
}

.card-height {
    height: 140px;
    position: relative;
}

.card-body p img {
    max-width: 100%;
}

.nav-bg {
    background-color: rgb(12, 12, 86);
}

/* .card-home {
    height: 300px;
} */
